<html>
    <head>
        <title>FriendLink</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    </head>
    <body>
        <nav class="navbar navbar-dark bg-dark">
            <div class="container">
                <div class="navbar-header">
                    <a class="navbar-brand" href="/">FriendLink</a>
                </div>
                <div id="navbarsExampleDefault">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item active"><a class="nav-link" href="/">Home</a></li>
                    </ul>
                </div>
            </div>
        </nav>